<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kevin-test-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6229e38b-b55a-42df-b5e3-028bf5d64be3/resourceGroups/rg-testing-dev/providers/Microsoft.Web/sites/kevin-test-dev</ResourceId>
    <UserName>$kevin-test-dev</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://kevin-test-dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>